<div  class="wrapper">
    <div class="main_center">
        <form action="" method="">
            <div class="container_two">
                <div class="box_p_2">
                    <div class="small_box_t_and_f left_r">
                        <button type="button" (click)="getFlag(0)"  class="button_t_and_folse">
                            <img src="/assets/img/icon_false_1.png">
                            <h3>Səhvdir</h3>
                        </button>

                    </div>
                    <div class="center_small_box">
                        <div class="center_small_box_text">
                            <p>{{ items.question }}</p>
                        </div>
                        <div class="eagle">
                            <img src="/assets/img/{{ items.img}}">
                        </div>
                        <div class="row_number">{{ items.id }}/10</div>
                    </div>
                    <div class="small_box_t_and_f right_r">
                        <button type="button" (click)="getFlag(1)" class="button_t_and_folse">
                            <img src="/assets/img/icon_true.png">
                            <h3>Düzdür</h3>
                        </button>
                    </div>

                </div>

            </div>
        </form>

    </div>


</div>